* {
  box-sizing: border-box;
}

html {
  font-family: Trebuchet MS, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

#header {
  padding-bottom: 1em;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0099FF;
  width: 100%;
  z-index: 1;
}

.logo{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  opacity: 0.7;
}

.nav-link {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 1.75em;
  float: right;
  margin-top: 0.5em;
}

.mobile-menu {
  display: none;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 0.3em;
  margin-right: 1em;
}

.bar {
  width: 75%;
  height: 3px;
  background-color: #FFFFFF;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-top: 1.25em;
  padding-top: 2em;
  padding-bottom: 0.75em;
  text-align: center;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="email"] {
  padding: 0.5em 0.5em;
  margin-bottom: 1.75em;
  width: 75%;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #ff4747;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 8px;
  border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.features, .pricing {
  margin: 3em 0;
}
.features-list{
  list-style-type: none;
  padding: 0;
}

.feature-heading {
  display: inline;
}

.material-icons {
  margin-right: 0.5em;
  vertical-align: bottom;
}

.feature-description {
  margin-left: 2.3em;
}

#video {
  width: 100%;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pricing-container {
  background-color: #EEEEEE;
  border-radius: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 300px;
  height: 250px;
}

.printer-heading, .printer-price {
  text-align: center;
}

.features-list-in-pricing {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.features-list-in-pricing li {
  margin: 1em 0;
}

footer {
  text-align: center;
  padding-top: 1em;
}

.footer-link {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

.footer-bottom-text {
  margin-top: 1.5em;
}

@media only screen and (min-width: 600px){
  .pricing {
    flex-direction: row;
  }
  .pricing-container {
    height: 325px;
  }
  .footer-link {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
  }
  .video-container {
    width: 50%;
    margin: 0 auto;
  }
  input[type="email"]{
    width: 50%;
  }
}

@media only screen and (max-width: 375px){
  .nav-link{
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
